
<div class="dashboard-wrapper">
  <app-sidebar></app-sidebar>

  <main class="dashboard-container">
    <div class="dashboard-header">
      <h2>Welcome back, Olivia</h2>
      <div>
        <button class="btn">Customize</button>
        <button class="btn">Export</button>
      </div>
    </div>

    <div class="dashboard-top">
      <div class="card vendor-breakdown">
        <h3>Vendor breakdown</h3>
        <p>Keep track of vendors and their security ratings.</p>
        <canvas id="vendorChart"></canvas>
        <button class="link-btn">View full report</button>
      </div>

      <div class="card vendors-monitored">
        <h3>Vendors monitored</h3>
        <div class="progress-circle">
          <div class="value">240</div>
        </div>
        <p class="subtext">You're using 80% of available spots.</p>
        <p class="subtext">You've almost reached your limit</p>
        <button class="upgrade-btn">Upgrade plan</button>
      </div>
    </div>

    <div class="team-members">
      <div class="section-header">
        <h3>Team members</h3>
        <span class="tag">{{users.length}} users</span>
      </div>

      <table class="team-table">
        <thead>
          <tr>
            <th class="checkbox-column">
              <input type="checkbox" [(ngModel)]="masterSelected" (change)="selectAllRows()" />
            </th>
            <ng-container *ngFor="let item of columnHeaders">
              <th [id]=item.column_key>{{item.column_name}}</th>
            </ng-container>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container >
          <tr *ngFor="let user of users">
            <td class="checkbox-column">
              <input type="checkbox" [(ngModel)]="user.selected" (change)="checkIfAllSelected()"/>
            </td>
            <td>
              <div class="user-info">
                <img [src]=user.profileUrl />
                <div>
                  <div class="name">{{user.name.first_name}} {{user.name.last_name}}</div>
                  <div class="handle">{{user.name.handle}}</div>
                </div>
              </div>
            </td>
            <td><span class="status customer">{{user.status}}</span></td>
            <td>{{user.role}}</td>
            <td>
              <div class="progress-container">
                <div class="progress-bar">
                  <div class="progress-fill" [style.width.%]="user.license_used"></div>
                </div>
                <span class="progress-text">{{ user.license_used }}%</span>
              </div>
            </td>
            <td>
              <ng-container *ngFor="let team of user.teams">
                <span class="badge" [ngClass]="team.value.toLowerCase()">{{ team.value }}</span>
              </ng-container>
            </td>
            <td>
              <span  class="icon" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></span>
              <span class="icon" (click)="openPopup(user)"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg></span>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <app-footer></app-footer>
  </main>
</div>
<app-update-user *ngIf="showPopup" [rowData]="selectedRow" (close)="closePopup()"></app-update-user>
