<div class="team-members">
  <div class="section-header">
    <h3>Team members <span class="tag">{{users.length}} users</span></h3>
    <span class="moreTag"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
        fill="#1f1f1f">
        <path
          d="M480-189.23q-24.75 0-42.37-17.63Q420-224.48 420-249.23q0-24.75 17.63-42.38 17.62-17.62 42.37-17.62 24.75 0 42.37 17.62Q540-273.98 540-249.23q0 24.75-17.63 42.37-17.62 17.63-42.37 17.63ZM480-420q-24.75 0-42.37-17.63Q420-455.25 420-480q0-24.75 17.63-42.37Q455.25-540 480-540q24.75 0 42.37 17.63Q540-504.75 540-480q0 24.75-17.63 42.37Q504.75-420 480-420Zm0-230.77q-24.75 0-42.37-17.62Q420-686.02 420-710.77q0-24.75 17.63-42.37 17.62-17.63 42.37-17.63 24.75 0 42.37 17.63Q540-735.52 540-710.77q0 24.75-17.63 42.38-17.62 17.62-42.37 17.62Z" />
      </svg></span>
  </div>

  <table class="team-table">
    <thead>
      <tr>
        <th class="checkbox-column">
          <input type="checkbox" [(ngModel)]="masterSelected" (change)="selectAllRows()" />
        </th>
        <ng-container *ngFor="let item of columnHeaders">
          <th [id]=item.column_key>{{item.column_name}}</th>
        </ng-container>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr *ngFor="let user of users">
          <td class="checkbox-column">
            <input type="checkbox" [(ngModel)]="user.selected" (change)="checkIfAllSelected()" />
          </td>
          <td>
            <div class="user-info">
              <img [src]=user.profileUrl [alt]="user.name.handle" />
              <div>
                <div class="name">{{user.name.first_name}} {{user.name.last_name}}</div>
                <div class="handle">{{user.name.handle}}</div>
              </div>
            </div>
          </td>
          <td>
            <span class="status" [ngClass]="user.status.toLowerCase()"> {{user.status}}</span>
          </td>
          <td>{{user.role}}</td>
          <td>
            <div class="progress-container">
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="user.license_used"></div>
              </div>
              <span class="progress-text">{{ user.license_used }}%</span>
            </div>
          </td>
          <td>
            <ng-container *ngFor="let team of user.teams">
              <span class="badge" [ngClass]="team.value.toLowerCase()">{{ team.value }}</span>
            </ng-container>
          </td>
          <td>
            <span class="icon" tabindex="0" role="button" (click)="openDeletePopup(user)"
              (keydown.enter)="openDeletePopup(user)" (keydown.space)="openDeletePopup(user)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#1f1f1f">
                <path
                  d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
              </svg>
            </span>
            <span class="icon" tabindex="0" role="button" (click)="openUserPopup(user)"
              (keydown.enter)="openUserPopup(user)" (keydown.space)="openUserPopup(user)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#1f1f1f">
                <path
                  d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
              </svg>
            </span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <app-footer></app-footer>
</div>
<app-update-user *ngIf="showUser" [selectedUser]="selectedUser" (closePopup)="closeUserPopup()"></app-update-user>
<app-delete-user *ngIf="deleteUserPopup" [selectedUser]="selectedUser" (closePopup)="closeDeletePopup()"
  (delete)="deleteUser()"></app-delete-user>
